<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook-login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='friends.css')}}">
</head>
<body>
    <div class="friends">
        <div class="head">
            <p>Friend Requests</p>
            <p>Your Friends</p>
        </div>
        <div class="frlist">
            <ul>
                <li>Nikita</li>
                <li>Krupa</li>
                <li>Veena</li>
                <li>Aish</li>
            </ul>    
        </div>
        <div class="yflist">
            <ul>
                <li>Nikita</li>
                <li>Krupa</li>
                <li>Veena</li>
                <li>Aish</li>
            </ul>    
        </div>
    </div>
</body>
</html>