<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <title>facebook Home Page</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{{url_for('static', filename='fblogo.jpg')}}" alt="Facebook Logo">
            </div>
            <div class="accdet">
                <a href="{{url_for('acc_details')}}">Account Details</a>
            </div>        
        </nav>
    </header>
    <div class="homepage">
        <div class="home">
            <a href="home.html">Home</a>
        </div>
        <div class="profile">
            <a href="{{url_for('profile')}}" style="margin-left: 40px;" target="_self">Profile</a>
        </div>
        <div class="messaging">
            <a href="message.html" style="margin-left: 40px;" target="_self">Messaging</a>
        </div>
        <div class="notifications">
            <a href="notification.html" style="margin-left: 40px;" target="_self">Notifications</a>
        </div>
        <div class="friends">
            <a href="{{url_for('friends')}}" style="margin-left: 40px;" target="_self">Friends</a>
        </div>
    </div>
    
</body>
</html> 