<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}">
</head>
<body>
    <div class="profile">
            <h1>Profile</h1><br>
            <h2>Details</h2>
            <p>current city</p>
            <p>workplace</p>
            <p>school</p>
            <p>hometown</p>
            <p>relationship status</p>
            <!--<a href="login.html" target="_self">-->
            <a href="home.html" target="_self"><button type="button" value="Back">Back</button></a>
    </div>
</body>
</html>